<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>637679772379-65h6ik8hucbh9phbocr5re3najg1eo61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637679772379-65h6ik8hucbh9phbocr5re3najg1eo61</string>
	<key>API_KEY</key>
	<string>AIzaSyCgJL5fkFj0IsFfoO4btGMRzQGokHOHeQc</string>
	<key>GCM_SENDER_ID</key>
	<string>637679772379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Octavian.FSEPractice</string>
	<key>PROJECT_ID</key>
	<string>fsepractice</string>
	<key>STORAGE_BUCKET</key>
	<string>fsepractice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:637679772379:ios:45fb3a1bb05492da</string>
	<key>DATABASE_URL</key>
	<string>https://fsepractice.firebaseio.com</string>
</dict>
</plist>
